// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@use 'media_sizes' as media;
@include mat.elevation-classes();
@include mat.app-background();

// Define the theme object.
$reservations-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($reservations-app-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($reservations-app-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($reservations-app-theme);
/* You can add global styles to this file, and also import other style files */

.primary-button {
  @include mat.button-color($reservations-app-theme, $color-variant: primary);
}

.secondary-button {
  @include mat.button-color($reservations-app-theme, $color-variant: secondary);
}

.tertiary-button {
  @include mat.button-color($reservations-app-theme, $color-variant: tertiary);
}

.error-button {
  @include mat.button-color($reservations-app-theme, $color-variant: error);
}

html, body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.mat-mdc-icon-button {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mat-button-small {
  @include mat.button-density(-10);
  @include mat.icon-button-density(-10);
}

.vertical-middle {
  vertical-align: middle;
}

main {
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;

  padding-bottom: 48px;
}

.admin-component-contents {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
}
