<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" [(ngModel)]="email" cdkFocusInitial/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password"/>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="{email: email(), password: password()}">Login</button>
</mat-dialog-actions>
