rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return exists(/databases/(default)/documents/adminUserIds/$(request.auth.uid));
    }
    match /reservations/{docId} {
      allow read, write: if request.auth != null;
    }
    match /{document=**} {
      allow write: if isAdmin();
      allow read: if request.auth != null;
    }
  }
}
