<main class="admin">
  <h1>{{ title }}</h1>

  <div>
    <button mat-button class="secondary-button" routerLink="/">Back to main app</button>
  </div>

  <app-auth/>

  <main>
    <p>
      <year-selector [years]="dataService.availableYearsSig()"/>
    </p>
    @if (!activeChild()) {
      Select an admin section:
    }
    <p>
      <mat-button-toggle-group name="adminSection" aria-label="Admin sections" [(ngModel)]="activeChild">
        <mat-button-toggle value="annual-documents" routerLink="annual-documents">
          Annual documents
        </mat-button-toggle>
        <mat-button-toggle value="floor-plans" routerLink="floor-plans">
          Floor plans
        </mat-button-toggle>
        <mat-button-toggle value="passwords" routerLink="passwords">
          Passwords
        </mat-button-toggle>
        <mat-button-toggle value="reservation-rounds" routerLink="reservation-rounds">
          Reservation rounds
        </mat-button-toggle>
        <mat-button-toggle value="unit-pricing" routerLink="unit-pricing">
          Unit pricing
        </mat-button-toggle>
      </mat-button-toggle-group>
    </p>

    <router-outlet/>
  </main>
</main>

