<mat-form-field>
  <mat-select [(ngModel)]="selectedUnitId" placeholder="Select a unit…">
    @for (unit of units(); track unit.id) {
      <mat-option [value]="unit.id">{{ unit.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>

@if (unit()) {
  <mat-card>
    <mat-card-header>
      <h1>Unit pricing for {{ unit()?.name }} in {{ this.year() }}</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form()">
        @for (tier of tiers(); track tier.id) {
          @let tierId = tier.id;

          <h4>{{ tier.name }}</h4>
          <div>
            <mat-form-field>
              <mat-label>Daily price</mat-label>
              <input matInput type="number" required [formControlName]="tierId + '_dailyPrice'"
                     [id]="tierId + '_dailyPrice'">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Weekly price</mat-label>
              <input matInput type="number" required [formControlName]="tierId + '_weeklyPrice'"
                     [id]="tierId + '_weeklyPrice'">
            </mat-form-field>
          </div>
        }
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="primary-button" (click)="onSubmit()" [disabled]="!form().valid">Update</button>
    </mat-card-actions>
  </mat-card>
}
