<main class="main">
  <h1>{{ title }}</h1>
  <p>Today is: {{ today().toISODate() }}</p>
  @if (isAdmin()) {
    <today-picker [today]="today()"></today-picker>
    <booker-picker (bookerId)="bookerIdOverride.set($event)" [bookers]="bookers"></booker-picker>
    <button mat-button class="secondary-button" routerLink="/admin">
      Admin panel
    </button>
  }
  <app-auth/>
  @if (user$ | async) {
    <mat-form-field>
      <mat-label>Viewing year</mat-label>
      <mat-select [(ngModel)]="currentYear">
        <mat-option *ngFor="let year of dataService.availableYears()" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    @if (annualDocumentFilename() || isAdmin()) {
      <p>
        @if (annualDocumentFilename()) {
          <a href="{{annualDocumentDownloadUrl() | async}}" target="_blank">Annual rules & information</a>
        } @else {
          No annual document
        }
        @if (isAdmin()) {
          <button mat-icon-button class="secondary-button" (click)="editAnnualDocument()">
            <mat-icon>edit</mat-icon>
          </button>
        }
      </p>
    }
    <mat-chip-set>
      <mat-chip>
        Year: {{ currentYear() }}
      </mat-chip>
      <mat-chip>
        Current round: {{ reservationRoundsService.currentRound()?.name || 'none' }}
        @if (reservationRoundsService.currentSubRoundBooker()) {
          ({{ reservationRoundsService.currentSubRoundBooker()?.name }})
        }
      </mat-chip>
      @for (item of (dataService.reservationWeekCounts$ | async) || {} | keyvalue; track [item.key, item.value]) {
        <mat-chip>
          {{ bookerName(item.key) }}: {{ item.value }} weeks booked
        </mat-chip>
      }
    </mat-chip-set>
    <week-table
      [bookers]="bookers()"
      [currentBooker]="currentBooker()"
      [weeks]="(weeks$ | async) || []"
      [units]="units()"
      [pricingTiers]="(pricingTiers$ | async) || {}"
      [reservations]="(reservations$ | async) || []"
      [unitPricing]="(unitPricing$ | async) || {}"
    />
    <mat-card>
      <mat-card-header>
        <h1>Reservation Rounds</h1>
      </mat-card-header>
      <mat-card-content>
        <round-config [rounds$]="reservationRounds$" [bookers]="bookers"/>
        @if (isAdmin()) {
          <button mat-button class="secondary-button" routerLink="/admin/reservation-rounds">
            Manage rounds
          </button>
        }
      </mat-card-content>
    </mat-card>
    @if (isAdmin()) {
      <audit-log [reservationsAuditLog$]="reservationsAuditLog$" [bookers]="bookers" [units]="units"/>
    }
  } @else {
    <p>
      Please log in
    </p>
  }
</main>

