.add-button {
  text-align: center;
}

.reservation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.5em;

  mat-chip-set {
    display: flex;
    justify-content: center;
  }
}

.daily-chips {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .daily-chip-set {
    display: flex;
    justify-content: center;

    mat-chip {
      width: 100%;
      margin-top: 0;
    }
    mat-chip.name-chip {
      width: auto;
    }
  }
}
