<table mat-table [dataSource]="tableRows$">
  <!-- Week Start Column -->
  <ng-container matColumnDef="week">
    <th mat-header-cell *matHeaderCellDef>Week</th>
    <td mat-cell *matCellDef="let element">
      {{ element.startDate | shortDate }} –
      {{ element.endDate | shortDate }}<br>
      {{ element.pricingTier?.name || '' }}
    </td>
    <td mat-footer-cell *matFooterCellDef>Pricing</td>
  </ng-container>

  <!-- Unit Columns -->
  @for (unit of units; track unit.id) {
    <ng-container [matColumnDef]="unit.name">
      <th class="unit-header" mat-header-cell *matHeaderCellDef>
        <div class="unit-header">
          <div>
            <mat-icon class="vertical-middle">gite</mat-icon>
            <span class="vertical-middle">{{ unit.name }}</span>
          </div>
          @if (unit.floorPlanFilename) {
            <div>
              <mat-icon class="vertical-middle">map</mat-icon>
              <a mat-button href="{{downloadUrls[unit.id] | async}}" target="_blank">Floor plan</a>
            </div>
          }
          @if (unit.notesMarkdown) {
            <div>
              <mat-icon class="vertical-middle">description</mat-icon>
              <button mat-button class="vertical-middle" (click)="openNotesDialog(unit)">Notes</button>
            </div>
          }
          @if (canEditUnit()) {
            <div>
              <mat-icon class="vertical-middle">edit</mat-icon>
              <button mat-button class="vertical-middle" aria-label="Edit unit" (click)="editUnit(unit)">
                Manage
              </button>
            </div>
          }
        </div>
      </th>
      <td mat-cell *matCellDef="let weekRow">
        @let unitReservations = weekRow.reservations[unit.id] || [];

        @if (isReservedByDay(unitReservations)) {
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Reserved by the day
              </mat-expansion-panel-header>
              <mat-list>
                @for (day of weekDates(weekRow); track $index) {
                  <mat-list-item>
                    @let reservation = reservationForDay(unitReservations, day);
                    <span matListItemTitle>
                      <span>{{ day | shortDate }}</span>
                      @if (!!reservation && canEditReservation(reservation)) {
                        <span style="float: right">
                          <button mat-icon-button aria-label="Edit reservation"
                                  (click)="editReservation(reservation, weekRow)">
                            <mat-icon>edit</mat-icon>
                          </button>
                        </span>
                      }
                      @if (!reservation && canAddDailyReservation()) {
                        <div class="add-button" style="float: right">
                          <button mat-icon-button aria-label="Add reservation"
                                  (click)="addReservation(weekRow, unit, day, day.plus({days: 1}))">
                            <mat-icon class="material-icons-outlined">add_box</mat-icon>
                        </button>
                        </div>
                      }
                    </span>
                    <span matListItemLine>{{ reservation?.guestName }}</span>
                    <span>{{ bookerName(reservation?.bookerId || "") || '' }}</span>
                  </mat-list-item>
                }
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        } @else if (unitReservations?.length === 1) {
          @let reservation = unitReservations[0];
          <div>
          <span>
            {{ reservation.guestName }} ({{ bookerName(reservation.bookerId) || 'unknown' }})
          </span>
            @if (canEditReservation(reservation)) {
              <span class="mat-button-small" style="float: left">
              <button mat-icon-button aria-label="Edit reservation" (click)="editReservation(reservation, weekRow)">
                <mat-icon>edit</mat-icon>
              </button>
            </span>
            }
          </div>
        } @else {
          @if (canAddReservation()) {
            <div class="add-button">
              <button mat-icon-button aria-label="Add reservation"
                      (click)="addReservation(weekRow, unit, weekRow.startDate, weekRow.endDate)">
                <mat-icon class="material-icons-outlined">add_box</mat-icon>
              </button>
            </div>
          }
        }
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <table class="mat-mdc-table">
          @for (tier of pricingTiers; track tier.id) {
            <tr class="mat-mdc-row" [style]="rowStyle(tier)">
              <td mat-cell>
                {{ tier.name }}
              </td>
              <td class="mat-mdc-cell">
                {{ unitTierPricing(unit, tier)?.weeklyPrice | currency }}/wk<br/>
                {{ unitTierPricing(unit, tier)?.dailyPrice | currency }}/day
              </td>
            </tr>
          }
        </table>
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row class="weeks-content" *matRowDef="let row; columns: displayedColumns"
      [style]="rowStyle(row.pricingTier)">
  </tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" class="weeks-content" [attr.colspan]="displayedColumns.length">
      <h2>No reservable weeks configured for {{activeYear()}}.</h2>
    </td>
  </tr>
  <tr mat-footer-row class="pricing-footer" *matFooterRowDef="displayedColumns"></tr>
</table>
