@use '../media_sizes' as media;

.pricing-footer {
  @media only screen and (max-width: media.$sm) {
    /*display: none;*/
  }
}

.add-button {
  text-align: center;
}

div.unit-header {
  display: inline-block;
  text-align: left;
}

table {
  margin-top: 1em;
}

th.unit-header {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  vertical-align: top;
  text-align: center;
}

.mat-no-data-cell {
  padding: 30px;
  text-align: center;
}

.unit-name {
  padding: 0 12px;
  display: inline-block;
}
