<h2 mat-dialog-title>
  @if (data.existingReservationId) {
    Modify reservation
  } @else {
    Make reservation
  }
</h2>
<mat-dialog-content>
  <div>
    <mat-form-field>
      <mat-label>Unit</mat-label>
      <input matInput value="{{unit.name}}" readonly="true"/>
    </mat-form-field>
  </div>
  @if (canBookDaily()) {
    <div>
      <mat-button-toggle-group
        [(ngModel)]="bookingDaily"
        aria-label="Booking daily"
      >
        <mat-button-toggle [value]="false" [disabled]="blockedDates.size > 0">Weekly</mat-button-toggle>
        <mat-button-toggle [value]="true">Daily</mat-button-toggle>
      </mat-button-toggle-group>
      <div>&nbsp;</div>
    </div>
  }
  <div>
    <mat-form-field>
      <mat-label>Check-in</mat-label>
      <input matInput
             [min]="weekStartDate"
             [max]="bookingDaily() ? weekEndDate.plus({days: -1}) : weekStartDate"
             [matDatepicker]="startPicker"
             [(ngModel)]="reservationStartDate" [readonly]="!bookingDaily()" [matDatepickerFilter]="isDateAvailable"/>
      <mat-datepicker-toggle matIconSuffix [for]="startPicker" [disabled]="!bookingDaily()"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
      <mat-error>Invalid date</mat-error>
    </mat-form-field>
    <div>Check-out: {{ reservationEndDate() | shortDate }}</div>
    <div>&nbsp;</div>
  </div>
  <div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Guest</mat-label>
      <input matInput [(ngModel)]="guestName" required/>
      <mat-error>Name is required</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Booked by</mat-label>
      <mat-select [(ngModel)]="bookerId" required>
        @for (booker of bookers; track booker.id) {
          <mat-option [value]="booker.id">{{ booker.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    Reservation cost: {{ reservationCost() | currency }}
  </div>
  @if (reservationConflicts()) {
    <div>
      <mat-error>Reservation conflicts with existing reservations</mat-error>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  @if (data.existingReservationId && canDelete) {
    <button mat-button class="error-button" (click)="onDelete()">Delete</button>
  }
  <button mat-button class="secondary-button" [mat-dialog-close]="null">Cancel</button>
  <button mat-button class="primary-button" (click)="onSubmit()" [disabled]="!isValid()">
    @if (data.existingReservationId) {
      Modify
    } @else {
      Reserve
    }
  </button>
</mat-dialog-actions>
