<div class="round-config">
  <ul>
    @for (round of rounds(); track round.startDate) {
      <li>
        Round {{ round.name }}: {{ round.startDate | shortDate }} – {{ round.endDate | shortDate }}
        <ul>
          @for (bookerId of round.subRoundBookerIds; track bookerId; let i = $index) {
            <li>
              {{ offsetDate(round.startDate, i) | shortDate }}
              – {{ offsetDate(round.startDate, i + 1).plus({days: -1}) | shortDate }}:
              {{ bookerFor(bookerId)?.name || 'unknown' }}
            </li>
          }
          @if (round.bookedWeeksLimit > 0) {
            <li>
              Booking limit: {{ round.bookedWeeksLimit }} weeks
            </li>
          }
          @if (round.allowDailyReservations) {
            <li>
              Daily reservations allowed
            </li>
          }
          @if (!round.allowDeletions) {
            <li>
              Reservations are final
            </li>
          } @else {
            <li>
              Reservations may be changed during round
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
