<div class="round-config">
  <ul>
    @for (round of rounds(); track round.startDate) {
      <li>
        Round {{ round.name }}: {{ round.startDate | shortDate }} – {{ round.endDate | shortDate }}
        ({{ round.endDate.diff(round.startDate, 'days').days + 1 }} days)
        <ul>
          @for (subRound of round.subRounds; track subRound.startDate) {
            <li>
              {{ subRound.startDate | shortDate }}
              – {{ subRound.endDate | shortDate }}:
              {{ bookerFor(subRound.bookerId)?.name || 'unknown' }}
            </li>
          }
          @if (round.bookedWeeksLimit > 0) {
            <li>
              Booking limit: {{ round.bookedWeeksLimit }} weeks
            </li>
          }
          @if (round.allowDailyReservations) {
            <li>
              Daily reservations allowed
            </li>
          }
          @if (!round.allowDeletions) {
            <li>
              Reservations are final
            </li>
          } @else {
            <li>
              Reservations may be changed during round
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
